<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <title>Media Repository</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="../resources/plugins/font-awesome/css/font-awesome.min.css"
          th:href="@{/resources/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet"
          type="text/css"/>
    <link href="../resources/plugins/bootstrap/css/bootstrap.min.css"
          th:href="@{/resources/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link href="../resources/plugins/uniform/css/uniform.default.css"
          th:href="@{/resources/plugins/uniform/css/uniform.default.css}" rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link rel="stylesheet" type="text/css" href="../resources/plugins/select2/select2_metro.css"
          th:href="@{/resources/plugins/select2/select2_metro.css}"/>
    <!-- END PAGE LEVEL SCRIPTS -->
    <!-- BEGIN THEME STYLES -->
    <link href="../resources/css/style-metronic.css" th:href="@{/resources/css/style-metronic.css}"
          rel="stylesheet" type="text/css"/>
    <link href="../resources/css/style.css" th:href="@{/resources/css/style.css}" rel="stylesheet"
          type="text/css"/>
    <link href="../resources/css/style-responsive.css" th:href="@{/resources/css/style-responsive.css}"
          rel="stylesheet" type="text/css"/>
    <link href="../resources/css/plugins.css" th:href="@{/resources/css/plugins.css}" rel="stylesheet"
          type="text/css"/>
    <link href="../resources/css/themes/default.css" th:href="@{/resources/css/themes/default.css}"
          rel="stylesheet" type="text/css" id="style_color"/>
    <link href="../resources/css/pages/login.css" th:href="@{/resources/css/pages/login.css}"
          rel="stylesheet" type="text/css"/>
    <link href="../resources/css/custom.css" th:href="@{/resources/css/custom.css}" rel="stylesheet"
          type="text/css"/>
    <!-- END THEME STYLES -->

    <link rel="shortcut icon"
          href="../resources/favicon.ico"
          th:href="@{/resources/favicon.ico}"
          type="image/x-icon"/>
</head>
<!-- BEGIN BODY -->
<body class="login">
<!-- BEGIN LOGO -->
<div class="logo">
    <img src="../resources/img/logo-big.png" th:src="@{/resources/img/logo-big.png}" alt=""/>
</div>
<div class="content">
    <form class="login-form" action="index.html" th:action="@{/logout}" method="post">
        <h3 class="form-title">Logout from your account</h3>

        <div class="form-actions">
            <button type="submit" class="btn green pull-right">
                Logout <i class="m-icon-swapright m-icon-white"></i>
            </button>
        </div>
    </form>
</div>
<div class="copyright">
    2014 &copy; SKMM Media Repository.
</div>
<!--[if lt IE 9]>
<script src="../resources/plugins/respond.min.js"
        th:src="@{/resources/plugins/respond.min.js}"></script>
<script src="../resources/plugins/excanvas.min.js"
        th:src="@{/resources/plugins/excanvas.min.js}"></script>
<![endif]-->
<script src="../resources/plugins/jquery-1.10.2.min.js"
        th:src="@{/resources/plugins/jquery-1.10.2.min.js}" type="text/javascript"></script>
<script src="../resources/plugins/jquery-migrate-1.2.1.min.js"
        th:src="@{/resources/plugins/jquery-migrate-1.2.1.min.js}" type="text/javascript"></script>
<script src="../resources/plugins/bootstrap/js/bootstrap.min.js"
        th:src="@{/resources/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
<script src="../resources/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"
        th:src="@{/resources/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js}"
        type="text/javascript"></script>
<script src="../resources/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
        th:src="@{/resources/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"
        type="text/javascript"></script>
<script src="../resources/plugins/jquery.blockui.min.js"
        th:src="@{/resources/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
<script src="../resources/plugins/jquery.cookie.min.js"
        th:src="@{/resources/plugins/jquery.cookie.min.js}" type="text/javascript"></script>
<script src="../resources/plugins/uniform/jquery.uniform.min.js"
        th:src="@{/resources/plugins/uniform/jquery.uniform.min.js}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<!-- BEGIN PAGE LEVEL PLUGINS -->
<script src="../resources/plugins/jquery-validation/dist/jquery.validate.min.js"
        th:src="@{/resources/plugins/jquery-validation/dist/jquery.validate.min.js}"
        type="text/javascript"></script>
<script type="text/javascript" src="../resources/plugins/select2/select2.min.js"
        th:src="@{/resources/plugins/select2/select2.min.js}"></script>
<!-- END PAGE LEVEL PLUGINS -->
<!-- BEGIN PAGE LEVEL SCRIPTS -->
<script src="../resources/scripts/app.js" th:src="@{/resources/scripts/app.js}"
        type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
    jQuery(document).ready(function () {
        App.init();
    });
</script>
</body>
</html>