<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragments="head">
	<title>Media Repository</title>

	<!-- Meta -->
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />

	<!-- Bootstrap -->
	<link href="../../resources/common/bootstrap/css/bootstrap.css" rel="stylesheet" />
	<link href="../../resources/common/bootstrap/css/responsive.css" rel="stylesheet" />

	<!-- Glyphicons Font Icons -->
	<link href="../../resources/common/theme/css/glyphicons.css" rel="stylesheet" />

	<!-- Uniform Pretty Checkboxes -->
	<link href="../../resources/common/theme/scripts/plugins/forms/pixelmatrix-uniform/css/uniform.default.css" rel="stylesheet" />

	<!-- PrettyPhoto -->
    <link href="../../resources/common/theme/scripts/plugins/gallery/prettyphoto/css/prettyPhoto.css" rel="stylesheet" />

	<!--[if IE]><!--><script src="../../resources/common/theme/scripts/plugins/other/excanvas/excanvas.js"></script><!--<![endif]-->
	<!--[if lt IE 8]><script src="../../resources/common/theme/scripts/plugins/other/json2.js"></script><![endif]-->

	<!-- Bootstrap Extended -->
	<link href="../../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap.min.css" rel="stylesheet"/>
	<link href="../../resources/common/bootstrap/extend/jasny-bootstrap/css/jasny-bootstrap-responsive.min.css" rel="stylesheet"/>
	<link href="../../resources/common/bootstrap/extend/bootstrap-wysihtml5/css/bootstrap-wysihtml5-0.0.2.css" rel="stylesheet"/>
	<link href="../../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.css" rel="stylesheet" />
	<link href="../../resources/common/bootstrap/extend/bootstrap-toggle-buttons/static/stylesheets/bootstrap-toggle-buttons.css" rel="stylesheet" />

	<!-- Select2 Plugin -->
	<link href="../../resources/common/theme/scripts/plugins/forms/select2/select2.css" rel="stylesheet" />

	<!-- DateTimePicker Plugin -->
	<link href="../../resources/common/theme/scripts/plugins/forms/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />

	<!-- JQueryUI -->
	<link href="../../resources/common/theme/scripts/plugins/system/jquery-ui/css/smoothness/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />

	<!-- MiniColors ColorPicker Plugin -->
	<link href="../../resources/common/theme/scripts/plugins/color/jquery-miniColors/jquery.miniColors.css" rel="stylesheet" />

	<!-- Notyfy Notifications Plugin -->
	<link href="../../resources/common/theme/scripts/plugins/notifications/notyfy/jquery.notyfy.css" rel="stylesheet" />
	<link href="../../resources/common/theme/scripts/plugins/notifications/notyfy/themes/default.css" rel="stylesheet" />

	<!-- Gritter Notifications Plugin -->
	<link href="../../resources/common/theme/scripts/plugins/notifications/Gritter/css/jquery.gritter.css" rel="stylesheet" />

	<!-- Easy-pie Plugin -->
	<link href="../../resources/common/theme/scripts/plugins/charts/easy-pie/jquery.easy-pie-chart.css" rel="stylesheet" />

	<!-- Google Code Prettify Plugin -->
	<link href="../../resources/common/theme/scripts/plugins/other/google-code-prettify/prettify.css" rel="stylesheet" />

	<!-- Bootstrap Image Gallery -->
	<link href="../../resources/common/bootstrap/extend/bootstrap-image-gallery/css/bootstrap-image-gallery.min.css" rel="stylesheet" />

	<!-- Main Theme Stylesheet :: CSS -->
	<link href="../../resources/common/theme/css/style-light.css?1369414383" rel="stylesheet" />

	<!-- LESS.js Library -->
	<script src="../../resources/common/theme/scripts/plugins/system/less.min.js"></script>
</head>
<body class="">

		<!-- Main Container Fluid -->
	<div class="container-fluid fluid menu-left">

		<!-- Top navbar -->
		<div class="navbar main hidden-print">

			<!-- Brand -->
			<a href="index.html?lang=en&amp;layout_type=fluid&amp;menu_position=menu-left&amp;style=style-light" class="appbrand pull-left"><span>AdminKIT <span>v1.5</span></span></a>

						<!-- Menu Toggle Button -->
			<button type="button" class="btn btn-navbar">
				<span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
			</button>
			<!-- // Menu Toggle Button END -->

						<!-- Top Menu -->
			<ul class="topnav pull-left tn1">

								<!-- Themer -->
				<li class="hidden-phone">
					<a href="#" data-target="#themer" data-toggle="collapse" class="glyphicons eyedropper"><i></i><span>Themer</span></a>
				</li>
				<!-- // Themer END -->


			</ul>
			<!-- // Top Menu END -->


			<!-- Top Menu Right -->
			<!-- // Top Menu Right END -->


		</div>
		<!-- Top navbar END -->

				<!-- Sidebar menu & content wrapper -->
		<div id="wrapper">

		<!-- Sidebar Menu -->
		<!-- // Sidebar Menu END -->

		<!-- Content -->
		<div id="content">
	<!-- Filters -->
<!-- // Filters END -->

<h3 class="heading-mosaic">Overview</h3>
<div class="innerLR">

	<!-- Quick Tabs Widget -->
	<!-- // Quick Tabs Widget END -->

</div>

<!-- Row -->
<!-- // Row END -->

<!-- Button Widget -->
<div class="menubar">
	<ul>
		<li>Button widget:</li>
		<li><a href="">Button 1</a></li>
		<li class="divider"></li>
		<li><a href="">Button 2</a></li>
		<li class="divider"></li>
		<li><a href="">Export</a></li>
	</ul>
</div>
<div class="separator"></div>
<!-- // Button Widget END -->

<div class="innerLR">

	<!-- Stats Widgets -->
	<div class="row-fluid">
		<div class="span2">

			<!-- Stats Widget -->
			<a href="" class="widget-stats margin-bottom-none">
				<span class="glyphicons shopping_cart"><i></i></span>
				<span class="txt">Sales</span>
				<div class="clearfix"></div>
				<span class="count label label-important">20</span>
			</a>
			<!-- // Stats Widget END -->

		</div>
		<div class="span2">

			<!-- Stats Widget -->
			<a href="" class="widget-stats margin-bottom-none">
				<span class="glyphicons shield"><i></i></span>
				<span class="txt">Alerts</span>
				<div class="clearfix"></div>
				<span class="count label">25</span>
			</a>
			<!-- // Stats Widget END -->

		</div>
		<div class="span2">

			<!-- Stats Widget -->
			<a href="" class="widget-stats margin-bottom-none">
				<span class="glyphicons user_add"><i></i></span>
				<span class="txt">Clients</span>
				<div class="clearfix"></div>
				<span class="count label label-warning">33</span>
			</a>
			<!-- // Stats Widget END -->

		</div>
		<div class="span2">

			<!-- Stats Widget -->
			<a href="" class="widget-stats margin-bottom-none">
				<span class="glyphicons envelope"><i></i></span>
				<span class="txt">Messages</span>
				<div class="clearfix"></div>
				<span class="count label label-primary">265</span>
			</a>
			<!-- // Stats Widget END -->

		</div>
		<div class="span2">

			<!-- Stats Widget -->
			<a href="" class="widget-stats margin-bottom-none">
				<span class="glyphicons fishes"><i></i></span>
				<span class="txt">Fishes</span>
				<div class="clearfix"></div>
				<span class="count label label-important">13</span>
			</a>
			<!-- // Stats Widget END -->

		</div>
		<div class="span2">

			<!-- Stats Widget -->
			<a href="" class="widget-stats margin-bottom-none">
				<span class="glyphicons coins"><i></i></span>
				<span class="txt">Earnings</span>
				<div class="clearfix"></div>
				<span class="count label label-success">&euro;292,039.02</span>
			</a>
			<!-- // Stats Widget END -->

		</div>
	</div>
	<div class="separator bottom"></div>
	<!-- // Stats Widgets END -->

	<div class="row-fluid">
		<div class="span6">

			<!-- Activity/List Widget -->
			<div class="widget" data-toggle="collapse-widget">

				<!-- Widget Heading -->
				<div class="widget-head">
					<h4 class="heading glyphicons history"><i></i>Activity</h4>
					<a href="" class="details pull-right">view all</a>
				</div>
				<!-- // Widget Heading END -->

				<div class="widget-body list">
					<ul>

						<!-- List item -->
						<li>
							<span>Sales today</span>
							<span class="count">&euro;5,900</span>
						</li>
						<!-- // List item END -->

						<!-- List item -->
						<li>
							<span>Some other stats</span>
							<span class="count">36,900</span>
						</li>
						<!-- // List item END -->

					</ul>
				</div>
			</div>
			<!-- // Activity/List Widget END -->

			<!-- Latest Orders/List Widget -->
			<div class="widget margin-bottom-none" data-toggle="collapse-widget">

				<!-- Widget Heading -->
				<div class="widget-head">
					<h4 class="heading">Last orders</h4>
					<a href="" class="details pull-right">view all</a>
				</div>
				<!-- // Widget Heading -->

				<div class="widget-body list products">
					<ul>

						<!-- List item -->
						<li>
							<span class="img">photo</span>
							<span class="title">10 items<br/><strong>&euro;5,900.00</strong></span>
							<span class="count"></span>
						</li>
						<!-- // List item END -->

						<!-- List item -->
						<li>
							<span class="img">photo</span>
							<span class="title">Product name<br/><strong>&euro;2,900</strong></span>
							<span class="count"></span>
						</li>
						<!-- // List item END -->

					</ul>
				</div>
			</div>
			<!-- // Latest Orders/List Widget END -->

		</div>
		<div class="span6">

			<!-- Comments Widget -->
			<div class="widget widget-scroll margin-bottom-none" data-scroll-height="223px" data-toggle="collapse-widget">

				<!-- Widget Heading -->
				<div class="widget-head">
					<h4 class="heading glyphicons conversation"><i></i>Comments</h4>
				</div>
				<!-- // Widget Heading END -->

				<div class="widget-body">
					<div>

						<!-- Media item -->
						<!-- // Media item END -->

						<!-- Media item -->

						<!-- // Media item END -->

					</div>
				</div>
			</div>
			<!-- // Comments Widget END -->

		</div>
	</div>
	<div class="separator bottom"></div>

	<!-- Website Traffic Chart -->
	<div class="widget" data-toggle="collapse-widget">
		<div class="widget-head">
			<h4 class="heading glyphicons cardio"><i></i>Website Traffic</h4>
		</div>
		<div class="widget-body">
			<div id="chart_ordered_bars" style="height: 250px;"></div>
		</div>
	</div>
	<!-- // Website Traffic Chart END -->

	<!-- Button Widget -->
	<div class="menubar">
		<ul>
			<li>Button widget:</li>
			<li><a href="">Button 1</a></li>
			<li class="divider"></li>
			<li><a href="">Button 2</a></li>
			<li class="divider"></li>
			<li><a href="">Export</a></li>
		</ul>
	</div>
	<div class="separator bottom"></div>
	<!-- // Button Widget END -->

	<div class="row-fluid">
		<div class="span6">

			<!-- Stats/List/Sparklines Widget -->
			<!-- Stats/List/Sparklines Widget END -->

			<!-- Stats/List/Sparklines Widget -->
			<!-- // Stats/List/Sparklines Widget END -->

		</div>
		<div class="span6">

			<!-- Traffic Sources Pie Chart -->
			<!-- // Traffic Sources Pie Chart END -->

		</div>
	</div>

	<!-- Google Vizualization DataTable Widget -->
	<div class="widget widget-tabs">

		<!-- Widget Heading -->

		<!-- // Widget Heading END -->


	</div>
	<!-- // Google Vizualization DataTable Widget END -->

</div>

		</div>
		<!-- // Content END -->

				</div>
		<div class="clearfix"></div>
		<!-- // Sidebar menu & content wrapper END -->

		<div id="footer" class="hidden-print">


			<div class="separator bottom"></div>

			<!--  Copyright Line -->
			<div class="copy">&copy; 2012 - 2013 - <a href="http://www.mosaicpro.biz">MosaicPro</a> - All Rights Reserved. <a href="http://themeforest.net/item/adminkit-premium-admin-template/4437902?ref=mosaicpro" target="_blank">Purchase this template on ThemeForest</a> - Current version: v1.5 / <a target="_blank" href="http://demo.mosaicpro.biz/adminkit/CHANGELOG">changelog</a></div>
			<!--  End Copyright Line -->

		</div>
		<!-- // Footer END -->

	</div>
	<!-- // Main Container Fluid END -->

	<!-- Modal Gallery -->
	<!-- // Modal Gallery END -->


	<!-- JQuery -->
	<script src="../../resources/common/theme/scripts/plugins/system/jquery.min.js"></script>

	<!-- JQueryUI -->
	<script src="../../resources/common/theme/scripts/plugins/system/jquery-ui/js/jquery-ui-1.9.2.custom.min.js"></script>

	<!-- JQueryUI Touch Punch -->
	<!-- small hack that enables the use of touch events on sites using the jQuery UI user interface library -->
	<script src="../../resources/common/theme/scripts/plugins/system/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

	<!-- Modernizr -->
	<script src="../../resources/common/theme/scripts/plugins/system/modernizr.js"></script>

	<!-- Bootstrap -->
	<script src="../../resources/common/bootstrap/js/bootstrap.min.js"></script>

	<!-- SlimScroll Plugin -->
	<script src="../../resources/common/theme/scripts/plugins/other/jquery-slimScroll/jquery.slimscroll.min.js"></script>

	<!-- Common Demo Script -->
	<script src="../../resources/common/theme/scripts/demo/common.js?1369414383"></script>

	<!-- Holder Plugin -->
	<script src="../../resources/common/theme/scripts/plugins/other/holder/holder.js"></script>

	<!-- Uniform Forms Plugin -->
	<script src="../../resources/common/theme/scripts/plugins/forms/pixelmatrix-uniform/jquery.uniform.min.js"></script>

	<!-- PrettyPhoto -->
	<script src="../../resources/common/theme/scripts/plugins/gallery/prettyphoto/js/jquery.prettyPhoto.js"></script>

	<!-- Global -->
	<script>
	var basePath = '../../resources/common/';
	</script>

	<!-- Bootstrap Extended -->
	<script src="../../resources/common/bootstrap/extend/bootstrap-select/bootstrap-select.js"></script>
	<script src="../../resources/common/bootstrap/extend/bootstrap-toggle-buttons/static/js/jquery.toggle.buttons.js"></script>
	<script src="../../resources/common/bootstrap/extend/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"></script>
	<script src="../../resources/common/bootstrap/extend/jasny-bootstrap/js/jasny-bootstrap.min.js"></script>
	<script src="../../resources/common/bootstrap/extend/jasny-bootstrap/js/bootstrap-fileupload.js"></script>
	<script src="../../resources/common/bootstrap/extend/bootbox.js"></script>
	<script src="../../resources/common/bootstrap/extend/bootstrap-wysihtml5/js/wysihtml5-0.3.0_rc2.min.js"></script>
	<script src="../../resources/common/bootstrap/extend/bootstrap-wysihtml5/js/bootstrap-wysihtml5-0.0.2.js"></script>

	<!-- Google Code Prettify -->
	<script src="../../resources/common/theme/scripts/plugins/other/google-code-prettify/prettify.js"></script>

	<!-- Gritter Notifications Plugin -->
	<script src="../../resources/common/theme/scripts/plugins/notifications/Gritter/js/jquery.gritter.min.js"></script>

	<!-- Notyfy Notifications Plugin -->
	<script src="../../resources/common/theme/scripts/plugins/notifications/notyfy/jquery.notyfy.js"></script>

	<!-- MiniColors Plugin -->
	<script src="../../resources/common/theme/scripts/plugins/color/jquery-miniColors/jquery.miniColors.js"></script>

	<!-- DateTimePicker Plugin -->
	<script src="../../resources/common/theme/scripts/plugins/forms/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>

	<!-- Cookie Plugin -->
	<script src="../../resources/common/theme/scripts/plugins/system/jquery.cookie.js"></script>

	<!-- Colors -->
	<script>
	var primaryColor = '#e25f39',
		dangerColor = '#bd362f',
		successColor = '#609450',
		warningColor = '#ab7a4b',
		inverseColor = '#45484d';
	</script>

	<!-- Themer -->
	<script>
	var themerPrimaryColor = primaryColor;
	</script>
	<script src="../../resources/common/theme/scripts/demo/themer.js"></script>

	<!-- Twitter Feed -->
	<script src="../../resources/common/theme/scripts/demo/twitter.js"></script>

	<!-- Easy-pie Plugin -->
	<script src="../../resources/common/theme/scripts/plugins/charts/easy-pie/jquery.easy-pie-chart.js"></script>

	<!-- Sparkline Charts Plugin -->
	<script src="../../resources/common/theme/scripts/plugins/charts/sparkline/jquery.sparkline.min.js"></script>

	<!-- Ba-Resize Plugin -->
	<script src="../../resources/common/theme/scripts/plugins/other/jquery.ba-resize.js"></script>

	<!-- Dashboard Demo Script -->
	<script src="../../resources/common/theme/scripts/demo/index.js?1369414383"></script>


	<!-- Google JSAPI -->
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

	<!--  Flot Charts Plugin -->
	<script src="../../resources/common/theme/scripts/plugins/charts/flot/jquery.flot.js"></script>
	<script src="../../resources/common/theme/scripts/plugins/charts/flot/jquery.flot.pie.js"></script>
	<script src="../../resources/common/theme/scripts/plugins/charts/flot/jquery.flot.tooltip.js"></script>
	<script src="../../resources/common/theme/scripts/plugins/charts/flot/jquery.flot.selection.js"></script>
	<script src="../../resources/common/theme/scripts/plugins/charts/flot/jquery.flot.resize.js"></script>
	<script src="../../resources/common/theme/scripts/plugins/charts/flot/jquery.flot.orderBars.js"></script>

	<!-- Charts Helper Demo Script -->
	<script src="../../resources/common/theme/scripts/demo/charts.helper.js?1369414383"></script>


	<!-- Optional Resizable Sidebars -->
	<!--[if gt IE 8]><!--><script src="../../resources/common/theme/scripts/demo/resizable.js?1369414383"></script><!--<![endif]-->

	<!-- Bootstrap Image Gallery -->
	<script src="http://blueimp.github.com/JavaScript-Load-Image/load-image.min.js"></script>
	<script src="../../resources/common/bootstrap/extend/bootstrap-image-gallery/js/bootstrap-image-gallery.min.js" type="text/javascript"></script>

	<script>
	//Load the Visualization API and the table/core chart package.
	google.load('visualization', '1.0', {'packages':['table', 'corechart']});

	// Set a callback to run when the Google Visualization API is loaded.
	google.setOnLoadCallback(charts.traffic_sources_dataTables.init);
	</script>

</body>
</html>