<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring3-3.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="utf-8"/>
    <title th:text="#{app.name.long}">Media Repository</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <meta name="MobileOptimized" content="320"/>
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link
            href="../../resources/plugins/font-awesome/css/font-awesome.min.css"
            th:href="@{/resources/plugins/font-awesome/css/font-awesome.min.css}"
            rel="stylesheet" type="text/css"/>
    <link
            href="../../resources/plugins/bootstrap/css/bootstrap.min.css"
            th:href="@{/resources/plugins/bootstrap/css/bootstrap.min.css}"
            rel="stylesheet" type="text/css"/>
    <link
            href="../../resources/plugins/bootstrap-datepicker/css/datepicker.css"
            th:href="@{/resources/plugins/bootstrap-datepicker/css/datepicker.css}"
            rel="stylesheet" type="text/css"/>
    <link
            href="../../resources/plugins/data-tables/DT_bootstrap.css"
            th:href="@{/resources/plugins/data-tables/DT_bootstrap.css}"
            rel="stylesheet" type="text/css"/>
    <link
            href="../../resources/plugins/bootstrap-timepicker/compiled/timepicker.css"
            th:href="@{/resources/plugins/bootstrap-timepicker/compiled/timepicker.css}"
            rel="stylesheet" type="text/css"/>
    <link
            href="../../resources/plugins/uniform/css/uniform.default.css"
            th:href="@{/resources/plugins/uniform/css/uniform.default.css}"
            rel="stylesheet" type="text/css"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN THEME STYLES -->
    <link
            href="../../resources/css/style-metronic.css"
            th:href="@{/resources/css/style-metronic.css}"
            rel="stylesheet" type="text/css"/>
    <link
            href="../../resources/css/style.css"
            th:href="@{/resources/css/style.css}"
            rel="stylesheet" type="text/css"/>
    <link
            href="../../resources/css/style-responsive.css"
            th:href="@{/resources/css/style-responsive.css}"
            rel="stylesheet" type="text/css"/>
    <link
            href="../../resources/css/plugins.css"
            th:href="@{/resources/css/plugins.css}"
            rel="stylesheet" type="text/css"/>
    <link
            href="../../resources/css/themes/default.css"
            th:href="@{/resources/css/themes/default.css}"
            rel="stylesheet" type="text/css" id="style_color"/>
    <link
            href="../../resources/css/pages/inbox.css"
            th:href="@{/resources/css/pages/inbox.css}"
            rel="stylesheet" type="text/css"/>
    <link
            href="../../resources/css/custom.css"
            th:href="@{/resources/css/custom.css}"
            rel="stylesheet" type="text/css"/>

    <link href="../../resources/plugins/fancybox/source/jquery.fancybox.css"
          th:href="@{/resources/plugins/fancybox/source/jquery.fancybox.css}"
          rel="stylesheet"/>

    <link href="../../resources/plugins/jquery-file-upload/css/jquery.fileupload-ui.css"
          th:href="@{/resources/plugins/jquery-file-upload/css/jquery.fileupload-ui.css}"
          rel="stylesheet"/>

    <link href="../../resources/css/pages/search.css"
          th:href="@{/resources/css/pages/search.css}"
          rel="stylesheet"/>

    <link rel="shortcut icon"
          href="../../resources/favicon.ico"
          th:href="@{/resources/favicon.ico}"
          type="image/x-icon"/>

    <link rel="shortcut icon"
          href="../../resources/favicon.ico"
          th:href="@{/resources/favicon.ico}"
          type="image/x-icon"/>

    <!-- END THEME STYLES -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">

    <!-- BEGIN HEADER -->
    <div class="header navbar navbar-inverse navbar-fixed-top" th:fragment="header">
        <div class="header-inner" th:if="${scope == 'logged'}">
            <a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <img
                        src="../../resources/img/menu-toggler.png"
                        th:src="@{/resources/img/menu-toggler.png}"
                        alt=""/>
            </a>
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown user">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                       data-close-others="true">
                        <span class="username" th:text="${#authentication.name}">username</span>
                        <i class="icon-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/gate/in"><i class="icon-key"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <!-- END HEADER -->

    <div class="clearfix"></div>

    <!-- BEGIN CONTAINER -->
    <div class="page-container">
        <div class="page-sidebar navbar-collapse collapse" th:fragment="sidebar-menu">
            <ul class="page-sidebar-menu">
                <li>
                    <div class="sidebar-toggler hidden-phone"></div>
                </li>
                <li class="start active">
                    <a href="../dashboard.html" th:href="@{/dashboard}">
                        <i class="icon-home"></i>
                        <span class="title">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="../account.html" th:href="@{/account}">
                        <i class="icon-home"></i>
                        <span class="title">Account</span>
                    </a>
                </li>
                <li class="last">
                    <a href="javascript:;">
                        <i class="icon-adjust"></i>
                        <span class="title">Media</span>
                        <span class="arrow "></span>
                    </a>
                    <ul class="sub-menu">
                        <li>
                            <a href="../repository/directory/list.html"
                               th:href="@{/repository/directory/list}">Directories</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="page-content">
        </div>
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- BEGIN FOOTER -->
    <div class="footer" th:fragment="footer">
        <div class="footer-inner" th:text="#{app.footer.copyright}">
            2014 Unisync.
        </div>
        <div class="footer-tools">
        <span class="go-top">
        <i class="icon-angle-up"></i>
        </span>
        </div>

        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE PLUGINS -->
        <!--[if lt IE 9]>
        <script
                src="../../resources/plugins/respond.min.js"
                th:src="@{/resources/plugins/respond.min.js}">

        </script>
        <script
                src="../../resources/plugins/excanvas.min.js"
                th:src="@{/resources/plugins/excanvas.min.js}">
        </script>
        <![endif]-->
        <script
                src="../../resources/plugins/jquery-1.10.2.min.js"
                th:src="@{/resources/plugins/jquery-1.10.2.min.js}"
                type="text/javascript"></script>
        <script
                src="../../resources/plugins/jquery-migrate-1.2.1.min.js"
                th:src="@{/resources/plugins/jquery-migrate-1.2.1.min.js}"
                type="text/javascript"></script>
        <script
                src="../../resources/plugins/bootstrap/js/bootstrap.min.js"
                th:src="@{/resources/plugins/bootstrap/js/bootstrap.min.js}"
                type="text/javascript"></script>
        <script
                src="../../resources/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js"
                th:src="@{/resources/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js}"
                type="text/javascript"></script>
        <script
                src="../../resources/plugins/jquery-slimscroll/jquery.slimscroll.min.js"
                th:src="@{/resources/plugins/jquery-slimscroll/jquery.slimscroll.min.js}"
                type="text/javascript"></script>
        <script
                src="../../resources/plugins/jquery.blockui.min.js"
                th:src="@{/resources/plugins/jquery.blockui.min.js}"
                type="text/javascript"></script>
        <script
                src="../../resources/plugins/jquery.cookie.min.js"
                th:src="@{/resources/plugins/jquery.cookie.min.js}"
                type="text/javascript"></script>
        <script
                src="../../resources/plugins/uniform/jquery.uniform.min.js"
                th:src="@{/resources/plugins/uniform/jquery.uniform.min.js}"
                type="text/javascript"></script>
        <!-- END CORE PLUGINS -->

        <!-- BEGIN DATE/TIME PICKER -->
        <script
                src="../../resources/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"
                th:src="@{/resources/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"
                type="text/javascript"></script>
        <script
                src="../../resources/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"
                th:src="@{/resources/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js}"
                type="text/javascript"></script>
        <!-- END DATE/TIME PICKER -->

        <!-- BEGIN DATA TABLE -->
        <script
                src="../../resources/plugins/data-tables/jquery.dataTables.js"
                th:src="@{/resources/plugins/data-tables/jquery.dataTables.js}"
                type="text/javascript"></script>
        <script
                src="../../resources/plugins/data-tables/DT_bootstrap.js"
                th:src="@{/resources/plugins/data-tables/DT_bootstrap.js}"
                type="text/javascript"></script>
        <!-- END DATA TABLE -->

        <!-- BEGIN: Page level plugins -->
        <script
                src="../../resources/plugins/fancybox/source/jquery.fancybox.pack.js"
                th:src="@{/resources/plugins/fancybox/source/jquery.fancybox.pack.js}"
                type="text/javascript"></script>
        <script
                src="../../resources/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js"
                th:src="@{/resources/plugins/bootstrap-wysihtml5/wysihtml5-0.3.0.js}"
                type="text/javascript"></script>
        <script
                src="../../resources/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js"
                th:src="@{/resources/plugins/bootstrap-wysihtml5/bootstrap-wysihtml5.js}"
                type="text/javascript"></script>

        <!-- BEGIN JQUERY UI -->
        <script
                src="../../resources/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js"
                th:src="@{/resources/plugins/jquery-file-upload/js/vendor/jquery.ui.widget.js}"
                ></script>

        <script
                src="../../resources/plugins/jquery-file-upload/js/jquery.iframe-transport.js"
                th:src="@{/resources/plugins/jquery-file-upload/js/jquery.iframe-transport.js}"
                ></script>

        <!-- BEGIN JQUERY VALIDATE -->
        <script
                src="../../resources/plugins/jquery-validation/dist/jquery.validate.min.js"
                th:src="@{/resources/plugins/jquery-validation/dist/jquery.validate.min.js}"
                ></script>

        <script
                src="../../resources/scripts/app.js"
                th:src="@{/resources/scripts/app.js}">
        </script>
        <script
                src="../../resources/scripts/custom.js"
                th:src="@{/resources/scripts/custom.js}">
        </script>
        <script>
            jQuery(document).ready(function () {
                App.init();
            });
        </script>
    </div>

</body>
</html>
